<p id="notice"><%= notice %></p>

<p>
  <strong>Nome trecho:</strong>
  <%= @map.nome_trecho %>
</p>

<p>
  <strong>Numero lei:</strong>
  <%= @map.numero_lei %>
</p>

<p>
  <strong>Latitude inicial:</strong>
  <%= @map.latitude_inicial %>
</p>

<p>
  <strong>Longitude inicial:</strong>
  <%= @map.longitude_inicial %>
</p>

<p>
  <strong>Latitude final:</strong>
  <%= @map.latitude_final %>
</p>

<p>
  <strong>Longitude final:</strong>
  <%= @map.longitude_final %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
